In [1]:
import os
import numpy as np
import pandas as pd

from sklearn.metrics import mean_squared_error, mean_absolute_error

from airpollution_trf_graph_loader import AirpollutionDatasetLoader

In [2]:
_T= 12 #target time horizon to analyze
_city= 'madrid'

loader= AirpollutionDatasetLoader(_city)
dataset=loader.get_dataset(T=_T)

feature_dim= loader.get_feature_dim()
feature_dim

{'trf': 4, 'ap0': 2, 'ap1': 5, 'ap2': 2, 'ap3': 1}

In [3]:
target_nodes= list(feature_dim.keys())
target_nodes

['trf', 'ap0', 'ap1', 'ap2', 'ap3']

In [4]:
y_hat_dict= {}
y_true_dict= {}

for k in target_nodes:
    _df= pd.read_csv(os.path.join('results',f'y_hat_{_city}_{_T}_{k}.csv'), index_col=0)
    y_hat_dict[k]= _df

    _df= pd.read_csv(os.path.join('results',f'y_true_{_city}_{_T}_{k}.csv'), index_col=0)
    y_true_dict[k]= _df

In [5]:
y_true_dict

{'trf':        Car  Motorcycle   Bus  Truck
 0     14.0         0.0   0.0    0.0
 1     85.0         0.0   8.0    2.0
 2     50.0         0.0   3.0    2.0
 3     21.0         1.0   0.0    0.0
 4    105.0         1.0   2.0    7.0
 ..     ...         ...   ...    ...
 177   60.0         0.0  21.0   11.0
 178   25.0         4.0   2.0   15.0
 179   48.0         1.0   2.0   30.0
 180    3.0         0.0   0.0    1.0
 181   71.0         2.0  15.0    9.0

 [182 rows x 4 columns],
 'ap0':      CO  SO2
 0   0.7  2.0
 1   0.6  1.0
 2   0.5  1.0
 3   0.4  1.0
 4   0.4  1.0
 5   0.4  1.0
 6   0.3  1.0
 7   0.3  1.0
 8   0.4  1.0
 9   0.4  1.0
 10  0.6  3.0
 11  0.8  3.0
 12  0.7  3.0
 13  0.5  2.0,
 'ap1':      CO    O3  PM10  PM25  SO2
 0   1.1   4.0  82.0  26.0  1.0
 1   1.3   4.0  65.0  22.0  1.0
 2   0.7   7.0  48.0  18.0  1.0
 3   0.2  45.0  34.0  17.0  1.0
 4   0.1  65.0  19.0  10.0  1.0
 5   0.1  52.0  24.0  12.0  1.0
 6   0.1  52.0  22.0  11.0  1.0
 7   0.1  52.0  16.0   7.0  1.0
 8   0.1  31.0  17.0   7.0  1.0
 9   0.2  12.0  22.0   9.0  1.0
 10  0.3  10.0  26.0  12.0  1.0
 11  0.4  18.0  34.0  16.0  1.0
 12  0.2  39.0  31.0  11.0  1.0
 13  0.2  55.0  21.0   7.0  1.0,
 'ap2':     PM10  PM25
 0   56.0  25.0
 1   41.0  18.0
 2   29.0  13.0
 3   26.0  13.0
 4   20.0   9.0
 5   22.0  13.0
 6   16.0   8.0
 7   23.0  15.0
 8   14.0   7.0
 9   23.0  13.0
 10  28.0  15.0
 11  32.0  14.0
 12  18.0   4.0
 13  32.0  11.0,
 'ap3':       O3
 0    9.0
 1    8.0
 2    5.0
 3   11.0
 4   38.0
 5   46.0
 6   43.0
 7   39.0
 8   34.0
 9   27.0
 10  14.0
 11  13.0
 12  35.0
 13  52.0}

In [6]:
def mape_fn(actual, pred):
    #print(actual)
    actual, pred = np.array(actual), np.array(pred)
    return np.mean(np.abs((actual - pred) / (actual+0.01))) * 100

def compute_metrics_as_dataframe_fn(y_valid, y_hat, particle_name):
    metrics= []
    metrics_global = {'mse':[],'rmse':[],'mae':[],'cvrmse':[],'mape':[],}

    try:
        mae = mean_absolute_error(y_valid, y_hat)
        mse = mean_squared_error(y_valid, y_hat)
        rmse= mean_squared_error(y_valid, y_hat, squared = False)
        cvrmse =  (rmse/np.mean(y_valid))*100 # it is a percentage
        mape = mape_fn(y_valid, y_hat)

        metrics.append((time_horizon, str(particle_name), mae, mse, rmse, cvrmse, mape))


        metrics_df = pd.DataFrame.from_records(metrics, columns='T particle MAE MSE RMSE CVRMSE MAPE'.split())

        return metrics_df
    except:
        return None

def compute_metrics(y_valid, y_hat):
    metrics= []
    metrics_global = {'mse':[],'rmse':[],'mae':[],'cvrmse':[],'mape':[],}

    mae = mean_absolute_error(y_valid, y_hat)
    mse = mean_squared_error(y_valid, y_hat)
    rmse= mean_squared_error(y_valid, y_hat, squared = False)
    cvrmse =  (rmse/np.mean(y_valid))*100 # it is a percentage
    mape = mape_fn(y_valid, y_hat)

    return mae, mse, rmse, cvrmse, mape

In [26]:
metrics_by_sensors= []
metrics_by_pollutants= []
for k in target_nodes:
    if k != 'trf':
        y_true_df= y_true_dict[k]
        y_hat_df= y_hat_dict[k]
    
        #Metris by station
        for i in range(y_true_df.shape[0]):
            mae, mse, rmse, cvrmse, mape= compute_metrics(y_true_df.iloc[i], y_hat_df.iloc[i])
            #print(y_true_df, y_hat_df, mae, mse, rmse, cvrmse, mape)
            metrics_by_sensors.append((_T, k, i, mae, mse, rmse, cvrmse, mape))
    
        for c in y_true_df.columns:
            c_hat= y_hat_df[c].T
            c_true= y_true_df[c].T
            mae, mse, rmse, cvrmse, mape= compute_metrics(c_true, c_hat)
            metrics_by_pollutants.append((_T, k, c, mae, mse, rmse, cvrmse, mape))


metrics_by_sensors_df = pd.DataFrame.from_records(metrics_by_sensors, columns='T sensor t MAE MSE RMSE CVRMSE MAPE'.split())
metrics_by_pollutants_df = pd.DataFrame.from_records(metrics_by_pollutants, columns='T sensor pollutant MAE MSE RMSE CVRMSE MAPE'.split())

metrics_by_sensors_df.to_csv(os.path.join('results',f'y_hat_{_city}_{_T}_{k}.csv'))

In [27]:
metrics_by_sensors_df

     T sensor   t        MAE          MSE       RMSE      CVRMSE        MAPE
0   12    ap0   0   0.708784     0.901121   0.949274   70.316600   38.784603
1   12    ap0   1   0.260853     0.105783   0.325243   40.655375   27.988694
2   12    ap0   2   0.245049     0.107424   0.327756   43.700796   25.591688
3   12    ap0   3   0.295800     0.117956   0.343448   49.063989   38.073013
4   12    ap0   4   0.295800     0.117956   0.343448   49.063989   38.073013
5   12    ap0   5   0.295800     0.117956   0.343448   49.063989   38.073013
6   12    ap0   6   0.346548     0.137379   0.370647   57.022613   58.354409
7   12    ap0   7   0.346548     0.137379   0.370647   57.022613   58.354409
8   12    ap0   8   0.295800     0.117956   0.343448   49.063989   38.073013
9   12    ap0   9   0.295800     0.117956   0.343448   49.063989   38.073013
10  12    ap0  10   1.169509     2.535236   1.592242   88.457906   44.671187
11  12    ap0  11   1.168848     2.506673   1.583248   83.328823   43.385430
12  12    ap0  12   1.124622     2.516293   1.586283   85.745015   37.680769
13  12    ap0  13   0.733144     0.923830   0.961161   76.892867   44.639154
14  12    ap1   0  21.499621  1416.129297  37.631493  164.905756   64.247541
15  12    ap1   1  17.337753   890.610561  29.843099  159.930863   65.087522
16  12    ap1   2  13.604715   490.001585  22.135979  148.165860   64.680874
17  12    ap1   3  18.103692   609.877055  24.695689  127.035437   94.117953
18  12    ap1   4  17.852225   856.299358  29.262593  153.851699  122.874742
19  12    ap1   5  16.623246   610.804460  24.714459  138.689442  126.205584
20  12    ap1   6  16.035543   590.572534  24.301698  141.124844  124.365391
21  12    ap1   7  14.052104   537.529145  23.184675  152.330321  121.657166
22  12    ap1   8  10.007871   214.257312  14.637531  130.459278  126.104940
23  12    ap1   9   7.527711   110.391981  10.506759  118.854738   84.653790
24  12    ap1  10   8.517429   150.600326  12.271932  124.461790   69.326565
25  12    ap1  11  12.494532   296.876479  17.230104  124.136195   65.839460
26  12    ap1  12  15.124030   450.952587  21.235644  129.170586   91.861838
27  12    ap1  13  15.624394   632.025522  25.140118  149.288110   84.126398
28  12    ap2   0  38.425009  1708.468168  41.333620  102.058322   94.267942
29  12    ap2   1  27.402978   876.986313  29.613955  100.386287   92.005342
30  12    ap2   2  18.871324   415.756457  20.390107   97.095747   88.683771
31  12    ap2   3  17.349303   339.665153  18.430007   94.512856   88.083599
32  12    ap2   4  12.353080   179.823467  13.409827   92.481567   83.501854
33  12    ap2   5  15.320726   252.472379  15.889379   90.796454   87.064157
34  12    ap2   6   9.841524   110.656956  10.519361   87.661342   80.580588
35  12    ap2   7  16.812308   296.428130  17.217088   90.616254   88.237977
36  12    ap2   8   8.348988    80.045632   8.946822   85.207833   77.887401
37  12    ap2   9  15.827082   272.718490  16.514191   91.745503   87.344854
38  12    ap2  10  19.343579   412.829245  20.318200   94.503255   89.353193
39  12    ap2  11  20.882531   512.189753  22.631610   98.398303   89.637911
40  12    ap2  12   8.925990   124.915170  11.176546  101.604959   70.882880
41  12    ap2  13  19.416724   481.650178  21.946530  102.076884   88.030172
42  12    ap3   0   6.630142    43.958779   6.630142   73.668241   73.586478
43  12    ap3   1   5.691005    32.387538   5.691005   71.137563   71.048752
44  12    ap3   2   3.000347     9.002080   3.000347   60.006934   59.887160
45  12    ap3   3   8.545773    73.030233   8.545773   77.688844   77.618282
46  12    ap3   4  35.477137  1258.627250  35.477137   93.360887   93.336325
47  12    ap3   5  43.501189  1892.353427  43.501189   94.567802   94.547248
48  12    ap3   6  40.492605  1639.651076  40.492605   94.168849   94.146955
49  12    ap3   7  36.480332  1330.814601  36.480332   93.539312   93.515334
50  12    ap3   8  31.464060   989.987072  31.464060   92.541353   92.514143
51  12    ap3   9  24.442511   597.436324  24.442511   90.527817   90.494301
52  12    ap3  10  11.477122   131.724325  11.477122   81.979441   81.920926
53  12    ap3  11  10.494500   110.134524  10.494500   80.726921   80.664871
54  12    ap3  12  32.467354  1054.129050  32.467354   92.763867   92.737371
55  12    ap3  13  49.516636  2451.897251  49.516636   95.224300   95.205991

In [32]:
metrics_by_sensors_df.groupby('sensor').mean()

           T    t        MAE         MSE       RMSE      CVRMSE       MAPE
sensor
ap0     12.0  6.5   0.541636    0.747207   0.698839   60.604468  40.701101
ap1     12.0  6.5  14.600348  561.209157  22.627984  140.171780  93.224983
ap2     12.0  6.5  17.794367  433.186106  19.166946   94.938969  86.111546
ap3     12.0  6.5  24.262908  829.652395  24.262908   85.135866  85.087438

In [33]:
metrics_by_sensors_df.groupby('sensor').std()

          T       t        MAE         MSE       RMSE     CVRMSE       MAPE
sensor
ap0     0.0  4.1833   0.365556    1.000831   0.527960  16.777201   9.194410
ap1     0.0  4.1833   3.915036  341.607989   7.277833  14.763683  25.947010
ap2     0.0  4.1833   7.871798  421.209300   8.418844   5.494585   6.090943
ap3     0.0  4.1833  16.108984  807.941986  16.108984  11.081809  11.113810

In [28]:
metrics_by_pollutants_df

,T,sensor,pollutant,MAE,MSE,RMSE,CVRMSE,MAPE
0,12,ap0,CO,0.108233,0.014844,0.121835,24.367051,25.971251
1,12,ap0,SO2,0.975039,1.479571,1.216376,77.405746,55.430950
2,12,ap1,CO,0.349834,0.162275,0.402833,110.581664,165.780764
3,12,ap1,O3,29.210154,1303.918982,36.109818,113.349206,80.463353
4,12,ap1,PM10,31.341022,1333.316818,36.514611,110.890359,93.968019
5,12,ap1,PM25,11.702805,168.484613,12.980162,98.228255,86.514429
6,12,ap1,SO2,0.397923,0.163099,0.403855,40.385514,39.398350
7,12,ap2,PM10,24.728853,724.194260,26.910858,99.145265,89.842223
8,12,ap2,PM25,10.859882,142.177953,11.923840,93.783009,82.380869
9,12,ap3,O3,24.262908,829.652395,28.803687,107.821289,85.087438

In [29]:
metrics_by_pollutants_df.drop(columns='sensor').groupby('pollutant').mean()

              T        MAE          MSE       RMSE      CVRMSE       MAPE
pollutant
CO         12.0   0.229033     0.088559   0.262334   67.474357  95.876007
O3         12.0  26.736531  1066.785689  32.456753  110.585247  82.775396
PM10       12.0  28.034937  1028.755539  31.712734  105.017812  91.905121
PM25       12.0  11.281343   155.331283  12.452001   96.005632  84.447649
SO2        12.0   0.686481     0.821335   0.810116   58.895630  47.414650

In [30]:
metrics_by_pollutants_df.drop(columns='sensor').groupby('pollutant').std()

             T       MAE         MSE      RMSE     CVRMSE       MAPE
pollutant
CO         0.0  0.170838    0.104249  0.198696  60.962937  98.860255
O3         0.0  3.498231  335.357120  5.166215   3.908827   3.269722
PM10       0.0  4.675509  430.714691  6.790879   8.305035   2.917379
PM25       0.0  0.596037   18.601618  0.746933   3.143264   2.922869
SO2        0.0  0.408082    0.930886  0.574539  26.177257  11.336760

In [34]:
print("That's all folks!")

That's all folks!